/* 
project: MLFoodPairing
author: Julien Spronck
email: github@frenetic.be
website: https://frenetic.be
*/
body, html {
  width: 100%;
  /* background-color: steelblue; */
  color: white;
  font-family: 'Open Sans', sans-serif, Palatino;
  font-weight: 300;
}

header, footer {
  background-color: steelblue;
  color: white;
}

header {
  padding: 1em 0;
}

.main-row {
  background-color: white;
  color: steelblue;
  padding: 1em 0;
}

.main-row > article {
  padding-left: 0;
}

.title {
  padding: 0;
}

.title a, .title a:visited, .title a:link {
  color: white;
  text-decoration: underline;
}

.title a:hover {
  color: orange;
}

.title > nav {
  padding-left: 0;
}

footer {
  padding: 1em 0;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  padding: 0 1em;
}

.footer-links a, .footer-links a:visited, .footer-links a:link {
  color: white;
  text-decoration: underline;
}

.spacer {
  padding: 0 0.5em;
}

.vspacer {
  padding-top: 1em;
}

