/* 
project: MLFoodPairing
author: Julien Spronck
email: github@frenetic.be
website: https://frenetic.be
*/

.hex {
  stroke: white;
  fill: steelblue;
  fill-opacity: 0.15;
}

.hex.herb {
  fill: limegreen;
}

.hex.meat {
  fill: red;
}

.hex.dairy {
  fill: grey;
}

.hex.nut {
  fill: maroon;
}

.hex.spice {
  fill: darkorange;
}

.hex.detail {
  fill-opacity: 1.0;
}

.hexgroup text {
  font-size: 0.9em;
  fill: white;
}

.hexgroup:hover > .hex {
  fill-opacity: 1.0;
}

.hexgroup.highlight > .hex {
  fill-opacity: 0.9; 
}

.hexgroup.selected > .hex {
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 3;
}

#detail {
  display: none;
}

#detail text {
  font-size: 1.15em;
}

/* #hex_avocado > .hex {
  fill: url(#img_avocado);
} */

div.tooltip {	
  position: absolute;			
  text-align: center;							
  padding: 0.5em;				
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif, Palatino;
  font-weight: 300;		
}

.cluster0 {
  background-color: tomato;
}

.cluster1 {
  background-color: orange;
}

.cluster2 {
  background-color: limegreen;
}

.cluster3 {
  background-color: steelblue;
}